{% extends "base.html" %}
{% block content %}
    <h1>Change Password...</h1>
    <br>
    <div class="form-group">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <a href="0" data-toggle="modal" data-target="#myModal">
                Parol shartlari
            </a><br><br>
            <button class="btn btn-success">Change Password</button>
        </form>
        <br>
        <hr>

        <!-- The Modal -->
        <div class="modal" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Paroliz quyidagicha bo'lishi kerak !</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <ul>
                            <li>Your password can’t be too similar to your other personal information.</li>
                            <li>Your password must contain at least 8 characters.</li>
                            <li>Your password can’t be a commonly used password.</li>
                            <li>Your password can’t be entirely numeric.</li>
                        </ul>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Yopish</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}}