{% extends "base.html" %}
{% block content %}
    {% if user.is_authenticated %}
        <h1>Add Blog Post</h1>
        <br>
        <div class="form-group">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-success">Post</button>
            </form>
        </div>
        <script>
            var name = "{{ user.username }}"
                document.getElementById('elder').placeholder = name;
        </script>
    {% else %}
        You are not allowed!
    {% endif %}
{% endblock %}