{% extends "base.html" %}
{% block content %}
    <h1>{{ post.title }}</h1>
    <small>By: {{ post.author.first_name }} {{ post.author.last_name }} - <span><i>{{ post.post_date }}</i></span>
        {% if user.is_authenticated %}
            {% if user.id == post.author.id %}
                <a href="{% url 'update_post' post.pk %}">[Edit]</a>
                <a href="{% url 'delete_post' post.pk %}">[Delete]</a>
            {% endif %}
        {% endif %}
    </small><br>
    <hr>
    <br>
    {{ post.body }}

    <br>
    <br>
    <a href="{% url 'home' %}" class="btn btn-info">Back</a>
    <br>
    <br>
    <hr>
    {% if user.is_authenticated %}
        <form action="{% url 'like_post' post.pk %}" method="post">
            {% csrf_token %}
            {% if liked %}
                <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-danger btn-sm">Unlike</button>
            {% else %}
                <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-primary btn-sm">Like</button>
            {% endif %}
        </form>
    {% else %}
        <small><a href="{% url 'login' %}">Login</a> to like !</small>
    {% endif %}
    <small>{{ total_likes }} likes</small>

{% endblock %}